:root {
    --size: min(calc(100vh - 16px), calc(100vw - 15px));
    --square: calc(var(--size) / 8);
}

body {
    font-family: sans-serif;
    background: white;
    color: black;
    margin: 0;
}
a {
    color: #005;
}
a:visited {
    color: #505;
}

h1 {
    font-size: 1.75rem;
    margin: 0.75rem;
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
}
#not-board {
    margin: 1rem auto 0;
}
#score {
    height: calc(100vh - 6.75rem);
    margin: 0;
    overflow: auto;
}
#score ol {
    margin: 0;
}
#buttons {
    text-align: center;
}
button#new-game {
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
    height: var(--size);
    width: var(--size);
}
th {
    border: none;
    padding: 0.2rem;
}
td {
    position: relative;
    cursor: default;
    font-size: calc(var(--square) * 0.8);
    border: none;
    height: var(--square);
    width: var(--square);
    text-align: center;
}

td .coord {
    display: none;
    font-size: 33%;
    position: absolute;
    top: 2%;
    left: 4%;
}
td:hover .coord {
    display: block;
}
td.dark .coord {
    color: lightyellow;
}
td.light .coord {
    color: darkseagreen;
}

td.dark {
    background: darkseagreen;
    color: black;
}
td.light {
    background: lightyellow;
    color: black;
}

td.can-move:hover,
td.possible {
    z-index: 1;
    cursor: pointer;
    outline: 5px solid #808080;
    border-radius: 1px;
}
td.selected,
td.selected:hover {
    z-index: 2;
    outline: 5px solid black;
    border-radius: 1px;
}

@media only screen and (max-width: 480px) {
    :root {
        --size: min(94.5vh, 100vw);
    }
    body {
        margin: 0;
    }
    #board td {
        font-size: 2.5rem;
        height: calc(100vw / 8);
    }
}

@media only screen and (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }
    a {
        color: #aaf;
    }
    a:visited {
        color: #faf;
    }
}

@media print {
    body {
        background: white !important;
        color: black !important;
    }
}
